{% extends "base_generic.html" %}
{% block banner %}{% endblock %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row pt-70">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="text-center">{% trans 'Create new account' %}</h3>
            <form method="post" class="formsWidth">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-success">{% trans 'Register' %}</button>
                </div>
            </form>
            <br>
            <div class="text-center">
                {% trans 'Do you have a account' %} ? <a href="{% url 'login' %}">{% trans 'Click here to Login' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
