{% extends 'base_generic.html' %}
{% block banner %}{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="columns is-mobile is-centered pt-70 container" style="margin: 0 auto;">
    <div class="column is-half" style="width: 60%; margin: 0 auto;">
        <h1 class="text-center">Notification</h1><br>
        <div class="notifications-area">
            {% for notification in notifications %}
            {% if notification.notification_type == 2 %}
                {% include 'includes/followNotification.html' %}
            {% endif %}
            {% if notification.notification_type == 1 %}
                {% include 'includes/requestNotification.html' %}
            {% endif %}
            <hr />
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const roomName = 'room1';
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notifications/'
        // + roomName
        // + '/'
    );

    chatSocket.onmessage = function (e) {
        console.log('bat tin nhan tu server');
        const data = JSON.parse(e.data);
        message = JSON.parse(data.message)
        if(message.to_user == "{{request.user.username}}"){
            $('.notifications-area').prepend(data.html_render)
        }
    };
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>

{% endblock %}
