{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--CSS============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
{% endblock %}
{% block content %}
<div class="row book_detail" style="width: 100%;">
  <div class="col-md-4 bookDetailLeftSide text-center">
      <img class="book_image_detail" src="{{ book.image.url }}" alt=""> <br>
      <div class="stars mt-2 mb-3" style="font-size: 20px;">
        {% if book.actual_rating %}
            {% for rate in book.actual_rating %}
                <span class="fa fa-star checked" style="color : yellow"></span>
            {% endfor %}
            {% for rate in book.hidden_rating %}
                <span class="fa fa-star" style="color : silver"></span>
            {% endfor %}
        {% else %}
            <h6>Nobody rated</h6>
        {% endif %}
    </div>
  </div>
  <div class="col-md-8">
      <h3 class="book_title"><strong>{{ book.title }}</strong> </h3><br>
      <h5 class="line_space"><strong>Author:</strong> {{ book.author }}</h5>
      <h5 class="line_space"><strong>Category:</strong> {{ book.category }}</h5>
      <p class="line_space"><strong>Desciption:</strong></p>
      <p> {{ book.desc }}</p>
      <hr class="my-4">
      <a href="#" class="genric-btn primary circle">Add comment</a>
  </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
