{% extends "base_generic.html" %}
{% block content %}

<section class="book_top section-gap" style="width: 100%;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-6">
                <div class="title text-center">
                    <h1 class="mb-10">Top books have high rating</h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            {% for book in top_4_books %}
            <div class=" col-lg-3 single-course item zoom">
                <img class="img-fluid" style="width: 100%; height: 80%;" src="{{ book.image.url }}" alt="">
                <p class="sale-btn">Book Detail</p>
                <div class="details">
                    <a href="{{ book.get_absolute_url }}"></a><h4>{{ book.title }} <span class="price float-right">{{ book.vote }}</span></h4></a>	
                    <p>
                        Author: {{ book.author }}
                    </p>
                </div>
                <div class="stars mt-2 mb-3" style="font-size: 20px;">
                    {% if book.actual_rating %}
                        {% for rate in book.actual_rating %}
                            <span class="fa fa-star checked" style="color : yellow"></span>
                        {% endfor %}
                        {% for rate in book.hidden_rating %}
                                <span class="fa fa-star" style="color : silver"></span>
                        {% endfor %}
                    {% else %}
                        <h6>Nobody rated</h6>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>	
</section>
<section class="course-area section-gap" id="course">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center" style="margin-top: 30px;">
                    <h1 class="mb-10">All books</h1>
                </div>
            </div>
        </div>						
        <div class="row" style="width: 100%;">
            <div class="active-course-carusel">
                {% for book in book_list %}
                <a  href="{{ book.get_absolute_url }}">
                <div class="single-course item zoom" >
                    <img class="img-fluid all_book_item" src="{{ book.image.url }}" alt="">
                    <p class="sale-btn">Book Detail</p>
                    <div class="details">
                        <h4>{{ book.title }} <span class="price float-right">{{ book.vote }}</span></h4>	
                        <p>
                            Author: {{ book.author }}
                        </p>
                        <div class="stars mt-2 mb-3" style="font-size: 20px;">
                            {% if book.actual_rating %}
                                {% for rate in book.actual_rating %}
                                    <span class="fa fa-star checked" style="color : yellow"></span>
                                {% endfor %}
                                {% for rate in book.hidden_rating %}
                                        <span class="fa fa-star" style="color : silver"></span>
                                {% endfor %}
                            {% else %}
                                <h6>Nobody rated</h6>
                            {% endif %}
                            </div>
                    </div>
                </div>
                </a>
                {% endfor %}							
            </div>											
        </div>
    </div>	
</section>
{% endblock %}
