{% extends "base_generic.html" %}
{% block content %}

<section class="book_top section-gap" style="width: 100%;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-6">
                <div class="title text-center">
                    <h1 class="mb-10">Top books have high rating</h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            {% for book in top_4_books %}
            <div class="col-md-3">
                <a  href="{{ book.get_absolute_url }}">
                <div class="single-course item zoom text-center" >
                    <img class="img-fluid all_book_item" src="{{ book.image.url }}" alt="">
                    <p class="sale-btn">Book Detail</p>
                    <div class="details">
                        <h4>{{ book.title }} <span class="price float-right">{{ book.vote }}</span></h4>
                        <p>
                            Author: {{ book.author }}
                        </p>
                        <div class="stars mt-2 mb-3" style="font-size: 20px;">
                            {% if book.actual_rating %}
                                {% for rate in book.actual_rating %}
                                    <span class="fa fa-star checked" style="color : yellow"></span>
                                {% endfor %}
                                {% for rate in book.hidden_rating %}
                                        <span class="fa fa-star" style="color : silver"></span>
                                {% endfor %}
                            {% else %}
                                <h6>Nobody rated</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>	
</section>
<section class="course-area section-gap" id="course">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center" style="margin-top: 30px;">
                    <h1 class="mb-10">All books</h1>
                </div>
            </div>
        </div>						
        <div class="row" style="width: 100%;">
            {% for book in book_list %}
                <div class="col-md-4" style="text-align: center;">
                <a  href="{{ book.get_absolute_url }}">
                <div class="single-course item zoom" >
                    <img class="img-fluid all_book_item" src="{{ book.image.url }}" alt="">
                    <p class="sale-btn">Book Detail</p>
                    <div class="details">
                        <h4>{{ book.title }} <span class="price float-right">{{ book.vote }}</span></h4>
                        <p>
                            Author: {{ book.author }}
                        </p>
                        <div class="stars mt-2 mb-3" style="font-size: 20px;">
                            {% if book.actual_rating %}
                                {% for rate in book.actual_rating %}
                                    <span class="fa fa-star checked" style="color : yellow"></span>
                                {% endfor %}
                                {% for rate in book.hidden_rating %}
                                        <span class="fa fa-star" style="color : silver"></span>
                                {% endfor %}
                            {% else %}
                                <h6>Nobody rated</h6>
                            {% endif %}
                            </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>	
</section>
{% endblock %}
